
{% extends 'base.html' %}

{% csrf_token %}
{% block javascript %}
<script>
    function favorite(element) {
        var csrftoken = getCookie('csrftoken');
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        $.ajax({
            type: 'POST',
            url: '/' + element.name + '/pet/',
            dataType: 'json',
            data: {
                id: element.id
            },
            success: function(response) {
                console.log(response);
            }
        });
        $('#row-'+element.id).remove()
    }

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function csrfSafeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
</script>
{% endblock javascript %}

{% block content %}
{% include 'nav.html' %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">Google Maps placeholder</h1>
    </div>
</div>
<div class="container container-fluid">
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Image</th>
                <th>Type</th>
                <th>Name</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Size</th>
                <th>Description</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for entry in favorites %}
            <tr id="row-{{ entry.animal_id }}">
                <td>
                    <a href="{{ entry.detail_link }}" target="_blank">
                        <img class="pet-image" src="{{ entry.image }}" onerror="this.src='http://placekitten.com/100/150'">
                    </a>
                </td>
                <td>{{ entry.animal_type }}</td>
                <td>{{ entry.name }}</td>
                <td>{{ entry.age }}</td>
                <td>{{ entry.gender }}</td>
                <td>{{ entry.size }}</td>
                <td class="break-word">{{ entry.description }}</td>
                <td>{{ entry.status }}</td>
                <td>
                    <button class="btn btn-danger" onclick="favorite(this)" name="delete" id="{{ entry.animal_id }}">Remove Favorite</button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% comment %} TODO: Finish implementing pagination, still need to figure out how {% endcomment %}
{% if 'previous' in results.pagination %}
    <a class="pagination-previous" href="#">Previous</a>
{% endif %}
{% if 'next' in results.pagination %}
    <a class="pagination-next" href="#">Next</a>
{% endif %}

{% endblock content %}