{% extends 'base.html' %}


{% block content %}
{% include 'nav.html' %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">Welcome to Neo-pets</h1>
        <p class="lead">Find your next best friend</p>
        <form action="{% url 'petfinder:search' %}">
            <div class="form-row">
                <div class="form-group col-9">
                    <input type="text" name="name" class="form-control form-control-lg no-border-radius" placeholder="Animal name" value="{{ request.GET.name }}">
                </div>
            </div>
            <div class="form-row">
                <div class="col-3">
                    {% for gender in genders %}
                        <div class="form-check">
                            <input class="form-check-input" name="gender" value="{{ gender }}" type="checkbox" id="{{ gender }}">
                            <label class="form-check-label" for="{{ gender }}">
                                {{ gender }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
                <div class="col-3">
                    {% for status in statuses %}
                        <div class="form-check">
                            <input class="form-check-input" name="status" value="{{ status }}" type="radio" id="{{ status }}">
                            <label class="form-check-label" for="{{ status }}">
                                {{ status }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <select name="type" class="form-control form-control-lg no-border-radius" id="type">
                            {% for pet in pet_types %}
                                <option value="{{ pet }}">{{ pet }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <input type="submit" class="btn btn-primary mb2 no-border-radius" value="Search">
        </form>
    </div>
</div>
{% endblock content %}