
{% extends 'base.html' %}

{% csrf_token %}
{% block javascript %}
<script>
    var map;
    var markers = {};

    function favorite(element) {
        var csrftoken = getCookie('csrftoken');
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        $.ajax({
            type: 'POST',
            url: '/' + element.name + '/pet/',
            dataType: 'json',
            data: {
                id: element.id
            },
            success: function(response) {
                markers[element.id].setMap(null);
            }
        });
        $('#row-'+element.id).remove()
    }

    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 38.3079827, lng: -97.8934871},
            zoom: 4
        });

        var geocoder = new google.maps.Geocoder();
        {% for entry in favorites %}
            geocoder.geocode({
                    address: '{{ entry.zipcode }}',
                    region: 'US'
                },
                function(result, status) {
                    if (status == 'OK' && result.length > 0) {
                        var icon = {
                            url: '{{ entry.image_small }}',
                            scaledSize: new google.maps.Size(30,35),
                            origin: new google.maps.Point(0,0),
                            anchor: new google.maps.Point(0,0)
                        };
                        markers['{{ entry.animal_id }}'] = new google.maps.Marker({
                            position: result[0].geometry.location,
                            animation: google.maps.Animation.DROP,
                            map: map,
                            icon: icon,
                            title: '{{ entry.name }}',
                            url: '{{ entry.detail_link }}'
                        });
                        google.maps.event.addListener(markers['{{ entry.animal_id }}'], 'click', function() {
                            window.open(this.url, '_blank');
                        });
                    }
                }
            );
        {% endfor %}
    }

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function csrfSafeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
</script>
{% endblock javascript %}

{% block content %}
<div class="map-container" id="map"></div>
<div class="container container-fluid">
    <div class="row">
        {% for entry in favorites %}
            <div class="col-12 col-md-6 col-lg-3 d-flex align-items-stretch p-2" id="row-{{ entry.animal_id }}">
                <div class="card">
                    <div class="card-image">
                        <a href="{{ entry.detail_link }}" target="_blank">
                            <img class="card-img-top pet-image" src="{{ entry.image_full }}" onerror="this.src='https://placekitten.com/400/550'">
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ entry.name }}</h5>
                        <p class="card-text">{{ entry.description }}</p>
                    </div>
                    <ul class="list-group list-group-flush text-center">
                        <li class="list-group-item">{{ entry.animal_type}} ᛫ {{ entry.status }}</li>
                        <li class="list-group-item">{{ entry.age}} ᛫ {{ entry.gender }} ᛫ {{ entry.size }}</li>
                    </ul>
                    <div class="card-body text-center favorite-button">
                        <button class="btn btn-danger no-border-radius" onclick="favorite(this)" name="delete" id="{{ entry.animal_id }}">
                            Remove Favorite
                        </button>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}