
{% csrf_token %}
{% block javascript %}
<script>
    function favorite(element) {
        var csrftoken = getCookie('csrftoken');
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        $.ajax({
            type: 'POST',
            url: '/' + element.name + '/pet/',
            dataType: 'json',
            data: {
                id: element.id
            },
            success: function(response, status) {
                if (element.name == "add") {
                    element.className = "btn btn-danger no-border-radius";
                    element.name = "delete";
                    element.innerHTML = "Remove favorite";
                } else {
                    element.className = "btn btn-success no-border-radius";
                    element.name = "add";
                    element.innerHTML = "Add to favorites";
                }
            }
        });

    }

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function csrfSafeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
</script>
{% endblock javascript %}

{% block content %}
{% include 'petfinder/index.html' %}
<div class="container container-fluid">
    <table class="table" style="vertical-align: center">
        <thead class="thead-dark">
            <tr>
                <th>Image</th>
                <th>Type</th>
                <th>Name</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Size</th>
                <th>Description</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for entry in results.animals %}
            <tr style="vertical-align: center">
                <td>
                    <a href="{{ entry.url }}" target="_blank">
                        <img class="pet-image" src="{{ entry.photos.0.small }}" onerror="this.src='https://placekitten.com/100/150'">
                    </a>
                </td>
                <td>{{ entry.type }}</td>
                <td>{{ entry.name }}</td>
                <td>{{ entry.age }}</td>
                <td>{{ entry.gender }}</td>
                <td>{{ entry.size }}</td>
                <td class="break-word">{{ entry.description }}</td>
                <td>{{ entry.status }}</td>
                <td>
                {% if entry.id in favorites %}
                    <button class="btn btn-danger no-border-radius" onclick="favorite(this)" name="delete" id="{{ entry.id }}">
                        Remove Favorite
                    </button>
                {% else %}
                    <button class="btn btn-success no-border-radius" onclick="favorite(this)" name="add" id="{{ entry.id }}">
                        Add to Favorites
                    </button>
                {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% comment %} TODO: Finish implementing pagination, still need to figure out how {% endcomment %}
{% if 'previous' in results.pagination %}
    <a class="pagination-previous" href="#">Previous</a>
{% endif %}
{% if 'next' in results.pagination %}
    <a class="pagination-next" href="#">Next</a>
{% endif %}

{% endblock content %}