
{% csrf_token %}
{% block javascript %}
<script>
    function favorite(element) {
        var csrftoken = getCookie('csrftoken');
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        $.ajax({
            type: 'POST',
            url: '/' + element.name + '/pet/',
            dataType: 'json',
            data: {
                id: element.id
            },
            success: function(response, status) {
                if (element.name == "add") {
                    element.className = "btn btn-danger no-border-radius";
                    element.name = "delete";
                    element.innerHTML = "Remove favorite";
                } else {
                    element.className = "btn btn-success no-border-radius";
                    element.name = "add";
                    element.innerHTML = "Add to favorites";
                }
            }
        });
        element.className = "btn btn-info no-border-radius";
        element.innerHTML = element.name == "add" ? "Adding pet..." : "Removing pet...";
    }

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function csrfSafeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
</script>
{% endblock javascript %}

{% block content %}
{% include 'petfinder/index.html' %}
<div class="container container-fluid">
    <div class="row">
        {% for entry in results.animals %}
            <div class="col-12 col-md-6 col-lg-3 d-flex align-items-stretch p-2">
                <div class="card">
                    <div class="card-image" style="height: 12em">
                        <a href="{{ entry.url }}" target="_blank">
                            <img class="card-img-top pet-image" src="{{ entry.photos.0.full }}" onerror="this.src='https://via.placeholder.com/400x550'">
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ entry.name }}</h5>
                        <p class="card-text">{{ entry.description }}</p>
                    </div>
                    <ul class="list-group list-group-flush text-center">
                        <li class="list-group-item">{{ entry.type}} - {{ entry.status }}</li>
                        <li class="list-group-item">{{ entry.age}} - {{ entry.gender }} - {{ entry.size }}</li>
                    </ul>
                    <div class="card-body text-center" style="flex-grow: inherit;">
                        {% if entry.id in favorites %}
                            <button class="btn btn-danger no-border-radius" onclick="favorite(this)" name="delete" id="{{ entry.id }}">
                                Remove Favorite
                            </button>
                        {% else %}
                            <button class="btn btn-success no-border-radius" onclick="favorite(this)" name="add" id="{{ entry.id }}">
                                Add to Favorites
                            </button>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}